<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
{{ attach_library('content_moderation/entity-moderation-form') }}
=======
>>>>>>> Update Open Social to 8.x-2.1
=======
{{ attach_library('content_moderation/content_moderation') }}
>>>>>>> revert Open Social update
=======
>>>>>>> updating open social
<ul class="entity-moderation-form">
  <li>{{ form.current }}</li>
  <li>{{ form.new_state }}</li>
  <li>{{ form.revision_log }}</li>
  <li>{{ form.submit }}</li>
</ul>
{{ form|without('current', 'new_state', 'revision_log', 'submit') }}
